<!-- 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

COLORS:

MIDNIGHT:   #0b1526
GREY:   #444444
CREME:   #e5dea5
BROWN:   #443100

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 -->







<div class="container-fluid druid">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      		<%= link_to root_path do %>
   			<%= image_tag "logo.png", class: "logo navbar-brand" %>
			<% end %>



    		
</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
    	<center>
    		<li>
    	<div class="title">Moon Buns</div>
    </li>
    	</center>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="cremetxt">MEnU</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="cremetxt" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YO, ClIck ME! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="cremetxt">GEt TO KnOw YOUr BAkEr</a></li>
            <li><a href="#" id="cremetxt">NEEd sOmEthIng? OrdEr HErE!</a></li>
            <li><a href="#" id="cremetxt">WHAt's COOkin' GOOd LookIn'?</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="jumbotron">
	<center>
	<div class="starwars">
		A long time ago <br>in a galaxy far, far away...
	</div>
</center>
	<hr>
	<p id="cremetxt">Reed mixed YEAST,WATER, and FLOUR.</p>
	<div class="jumbotron">


	</div>

</div>
























</div>


